/* body{
    color: black;
}
.container-fluid {
    padding: 0;
    display: flex;
    flex-direction: column;
}
.topbar {
    display: flex;
    height: 35px;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: space-between;
}
ul.nav-main {
    display: flex;   
    justify-content: center;
}
ul.nav-main li {
    list-style: none;
    display: inline-block;  
}
ul.nav-main :hover {
    background-color: #ebebeb;
}
ul.nav-main li.nav-main-item {
    align-items: center;
    list-style-position: outside;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0.42px;
    list-style-type: none;
    padding: 6px 8px;
}
ul.nav-main li.nav-main-item :hover{
    color: #6c97e7;
}
ul.nav-main li.nav-main-item a {
    text-decoration: none;
    color: black;
}

ul.nav-main li img {
    height: 14px;
}



.topbar-promotion {
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(82, 82, 82);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    justify-content: center;
    height: 32px;
    padding-right: 64px;
    position: relative;
}
.topbar-promotion a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.42px;
    font-size: 14px;
    font-weight: 400;
    text-size-adjust: 100%;
}



div.header {
    background-color: rgb(33, 33, 33);
    display: block;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    text-size-adjust: 100%;
}
div.header div.header-inner {
    display: flex;
    padding-left: 64px;
    padding-right: 64px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    height: 83.5px;
    justify-content: space-between;
}
div.header div.header-inner nav.navbar {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    letter-spacing: 0.42px;
    justify-content: space-between;
    padding: 0;
    height: 83.5px;
}

nav.navbar a.navbar-brand {
    color: white;
    margin-top: 15px;
    text-align: center;
    margin-left: 13px;
}
nav.navbar div.collapse ul.navbar-nav {
    padding-left: 10px;
    padding-right: 10px;
    height: 83.5px;
}
nav.navbar div.collapse ul.navbar-nav li.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}
nav.navbar div.collapse ul.navbar-nav :hover {
    background-color: rgb(255, 86, 5);
}
nav.navbar div.collapse ul.navbar-nav li.nav-item a {
    color: white;
    margin-top: 20px;
}
nav.navbar div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu li a {
    color: black;
}
div.header div.header-inner nav.navbar div.navbar-item {
    display: flex;
    justify-content: space-between;
    height: 83.5px; 
    max-width: auto;
}
div.header div.header-inner nav.navbar div.navbar-item ul.right-item {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}
div.header div.header-inner nav.navbar div.navbar-item ul.right-item li {
    display: inline-block;
}
div.header div.header-inner nav.navbar div.navbar-item ul.right-item li.nav-item {
    display: flex;
    padding: 6px 8px;
    justify-content: center;
    margin-top: 15px;
    font-size: 25px ;
}



div.site-hompage section.homepage-banner div.carousel div.carousel-inner div.carousel-item img {
    height: 623.2px;
}
div.site-hompage section.homepage-products {
    position: relative;
    height: auto;
}
div.site-hompage section.homepage-products div.container {
    height: auto;
    padding: 0px;
}
div.site-hompage section.homepage-products div.container div.homepage-products-tab {
    height: 44.6px;
    margin-top: 70px;
    display: flex;
}
div.homepage-products-tab a.homepage-products-tab-item {
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 0.42px;
    border: 1px solid black;
    height: 44.6px;
    border-radius: 20px;
    padding: 8px 24px;
    
}
div.homepage-products-tab a.homepage-products-tab-item:hover {
    color: white;
    background-color: black;
}
div.homepage-products {
    height: auto;
    margin-top: 32px;
}
div.homepage-products div.list_products {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
div.homepage-products div.list_products div.card {
    height: 430px;
    width: 282px;
    padding: 0px;
}
div.card div.product-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 282px;
    height: 456px;
}
div.product-item div.product-top {
    height: 353px;
    position: relative;
    width: 282px;
}
div.product-item div.product-top {
    position: relative;
    overflow: hidden;
}
div.product-item div.product-top a.product-thumb {
    display: block;
    width: 282px;
    height: 353px;
}
div.product-item div.product-top a.product-thumb img {
    display: block;
    width: 282px;
    height: 353px;
}
div.product-item div.product-top .product-thumb-hidden {
    display: block;
    position: relative;
    width: 282px;
    height: 353px;
}
div.product-item div.product-top a.product-thumb-hidden {
    width: 282px;
    height: 353px;
    position: absolute;
    bottom: -100%;
}
div.product-item div.product-top a.product-thumb-hidden {
    display: block;
    width: 282px;
    height: 353px;
    position: relative; 
    z-index: 0;
}

div.product-item .product-top:hover a.product-thumb-hidden {
    bottom: 0px;
}

div.product-item div.product-top div.add-product {
    width: 282px;
    position: absolute;
    z-index: 4;
    display: block;
    transition: .25s ease-in-out;
    text-align: center;
    width: 80%;
    margin-left: 25px;
    border: .5px;
    border-radius: 5px;
    background-color: rgba(207, 207, 207, 0.7);
    bottom: -100%; 
}

div.product-item div.product-top:hover div.add-product {
    bottom: 20px; 
    filter: opacity(110%);
}

div.product-item div.product-top a.add-product-item {
    color: black;
    text-decoration: none;
}
div.product-item div.product-top ul.product-size {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
}
div.product-item div.product-top ul.product-size li {
    flex-basis: 23.5%;
    border-radius: 15px;
    border: 1px solid white;
    display: inline-block;
    background-color: white;
    
    margin-bottom: 5px;
    font-weight: 400;   
}
div.product-item div.product-info {
    width: 282px;
}
div.product-item div.product-info div.card-body {
    font-size: 14px;
    height: 100%;
}
div.product-item div.product-info div.card-body a.card-title {
    text-decoration: none;
    font-weight: 400;
    text-align: center;
}


section.banner-block {
    position: relative;
}

div.banner-block-wrapper img {
    display: flex;
    height: 475px;
    width: 1519px;
}
section.banner-block div.banner-block-wrapper div.banner-block-content {
    display: flex;
    position: relative;
    padding-left: 32px;
    flex-direction: column;
    height: 474px;
    justify-content: flex-end;
    max-width: 800px;
}

div.banner-block-content h2.banner-block-heading {
    position: relative;
    display: flex;
    font-weight: 500;
    font-size: 80px;
}
div.banner-block-content p.banner-block-description {
    display: block;
    font-size: 1rem;
}
div.banner-block-content div.banner-block-button a.btn--primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 16px;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    padding: 14px 40px;
    transition: all .2s;
    cursor: pointer;
}





h5 {
    padding-left: 15px;
    font-weight: 600;
}


nav.navbar ul.navbar-nav li.nav-item a {
    color: white;
    
}

nav.navbar ul.navbar-nav li.nav-item ul.dropdown-menu li a {
    color: black;
}


.mymain {
    margin:50px;
    display: flexbox;
    justify-content: center;
}








.btn {
    font-size: 1rem;
    border-radius: 20px; 
    background-color: white;
    border-color: black;
}

.btn a {
    text-decoration: none;
    text-align: center;
}







.carousel-inner img{
    width: 100%;
    display: flex;
}

.card{
    padding: 0;
    margin: 0;
    font-size: 13px;
}
.card-title{
    font-size: 13px;
}
.card img {
    width: 100%;
    height: 100%;
}




#wrapper {
    width: 100%;
    margin: 0 auto;
}
ul.products {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
ul.products li {
    flex-basis: 20%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
ul.products li .card {
    border-color: white ;
}
ul.products li img {
    max-width: 100%;
    height: 353px;
}

ul.products li .product-item {
    width: 264px;
    height: 456px;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thumb {
    display: block;
}
/* ul.products li:hover .product-top .product-thumb img {
    filter: opacity(80%);
} */
ul.products li .product-top .product-thumb img {
    display: block;
}

ul.products li .product-top .product-thumb-hidden{
    display: block;
}
ul.products li .product-top .product-thumb-hidden img {
    display: block;
}
ul.products li .product-top a.product-thumb-hidden {
    list-style: none;
    position: absolute;
    width: 100%;
    bottom: -393.587px;
    display: block;
}
ul.products li:hover a.product-thumb-hidden {
    bottom: 0px;
}
ul.products li .product-top a.add-product {
    list-style: none;
    text-decoration: none;
    text-align: center ;
    display: block;
    background-color: #e0e0e0;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    transition: 0.25s ease-in-out;
    color: black;
}
ul.products li:hover a.add-product {
    bottom: 50px;
    filter: opacity(90%);
}

ul.products li .product-top a.add-product ul.product-size  {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
}
ul.products li .product-top a.add-product ul.product-size  li  {
    flex-basis: 25%;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 5px;
    background-color: white;
}
ul.products li .product-info a {
    display: block;
    text-decoration: none;
}
ul.products li .product-info .card-body{
    padding: 0px;
}
ul.products li .product-info a.card-title{
    font-size: 13px;
    color: black;
    padding: 0;
}
ul.products li .product-info .card-price{
    font-size: 13px;
    color: black;
    padding: 0 2px;
    font-weight: 600;
}








.banner  img {
    width: 100%;
}

.banner {
    position: relative;
}

.ctn-banner {
    position:relative;
    left: 20px;
    margin: 0px;
}


.myfooter {
    color: white;
    background-color: black;
    font-weight: 900px;
}

.myfooter h5 {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 40px;
}


.btn-footer {
    background-color: #1E90FF;
    border-radius: 20px;
    color: white;
    font-size: 16.5px;
    font-weight: bold;
    margin-left: 40px;
}

.btn-footer:hover{
    background-color: white;
}






.discount {
    margin-top: 20px;
    background-color: #0000CD;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-bottom: 30px;
}


.btn-discount-left {
    font-size: 17.5px;
    border:0;
    border-radius: 20px;
    font-weight: bold;
}

.btn-discount-right {
    font-size: 17.5px;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-weight: bold;
    background-color: #0000CD;
}






.myfooter ul li {
    list-style: none;
    margin-left: 40px;
}

.myfooter ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(211, 211, 211);
}

.myfooter ul li a:hover{
    color: yellow;
}

.myfooter ul {
    padding-left: 0;
}

.myfooter p {
    font-size: 15px;
    margin-bottom: 0;
    margin-left: 40px;
}

hr {
    margin-left: 40px;
    margin-right: 40px;
}
body{
    background-color: rgb(228, 228, 228);
}
.container_p {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container_p > div {
    margin: 30px 10px 10px 10px;
}
.sidebar_user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    
}
.sidebar_user > a {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px 60px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
.sidebar_user > a:hover{
    background: grey;
    cursor: pointer;
}
a:active{
    background: black;
    color: white;
}
.img{
    height: 25px;
    width: 25px;
    background: white;
}
.profile {
    width: 800px;
    background-color: white;
    border-radius: 20px;
    
}
.header {
    font-size: 30px;
    margin: 30px 0px 30px 40px;
}
.profile_item{
    margin: 0px 0px 30px 40px;
    font-size: 20px;
    color: rgb(84, 84, 84);
    display: inline-block;
    width: 200px;
}
.profile_item_inp{
    margin: 0px 0px 30px 60px;
    font-size: 20px;
    color: black;
    right: 1px;
    width: 400px;
    border-width: 0px;
}
.updbtn{
    margin-left: 36px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    background-color: white;
}
.updbtn:hover{
    background-color: gray;
    border-color: gray;
    cursor: pointer;
} 