@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.container {
    width: 1000px;
}



header {
    align-items: center;
    justify-content: space-between;
}

header .icon-cart {
    position: relative;
}

header .icon-cart span {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: rgb(249, 248, 108);
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 50px;
    position: absolute;
    top:50%;
    right: -7px;
}

.nav-link {
    color: black;
    font-weight: 400px;
    font-size: 14px;
}




.topbar-promotion {
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(82, 82, 82);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    justify-content: center;
    height: 32px;
    padding-right: 64px;
    padding-left: 64px;
    position: relative;
}


.container-fluid {
    padding: 0px;
}

li.nav-item {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

ul.navbar-nav li.nav-item:hover {
    background-color: rgb(255, 68, 5);
}



.product-single-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}


.product-single-wrapper .card {
    width: 100%;
    height: 100%;
}

.card-title {
    font-size: 40px;
    text-align: left;
}

.price {
    text-align: left;
    font-size: 30px;
}

.size-product ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.size-product .size-top {
    font-size: 13px;
    font-weight: 500;
}

.size-product .size-top p {
    font-size: 14px;
}

.size-product .size-item {
    border-radius: 20px;
    background-color: #eeee;
    margin-right:10px;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.size-item {
    cursor: pointer;
}

.size-item:hover {
    background-color: black;
    color: white;
}


.cartTab {
    width: 455px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 -455px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px ;
    transition: .5s;
    z-index: 10;
}

body.showCart .cartTab{
    inset: 0 0 0 auto;   
    z-index: 10;
}

body.showCart .container {
    transform: translateX(-225px);
    max-width: 75%;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cartTab .btn button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close {
    background-color: #eee;
}

.cartTab .listCart{
    overflow: auto;
}

.cartTab .listCart .item img{
    width: 40%;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.addCart {
    margin-top: 10px    ;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: black;
    border-radius: 20px;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.addCart:hover {
    background-color:#eeee;
    color: black;
}

.aftee  {
    margin-top: 20px;
}



.aftee .af-logo img {
    width: 40%;
}

.aftee div {
    padding: 0;
}

.product-chat {
    text-align: left;
}


.product-chat a {
    text-decoration: none;
    font-size: 13px;
}

.product-policy {
    margin: 10px 0;
    text-align: left;
}

.product-policy .row {
    margin: 10px 0;
    padding-left: 0px;
    padding-right: 0px;
}

.policy-icon {
    padding-left: 0px;
    padding-right: 0px;
    width: 50px;
}

.product-features {
    text-align: left;
}

.policy-title {
    font-size: 12px;
    padding-left: 0px;
    font-weight: 500;
    padding-right: 0px;
    margin-top: 5px;
}


.features .features-heading {
    font-size: 14px;
    font-weight: 600;
}

.size-item.active {
    font-weight: bold;
    border: 2px solid #000;
    background-color: #f0f0f0;
}


.cartTab {
    width: 455px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 -455px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px ;
    transition: .5s;
    z-index: 10;
}

body.showCart .cartTab{
    inset: 0 0 0 auto;   
    z-index: 10;
}

body.showCart .container {
    transform: translateX(-225px);
    max-width: 75%;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cartTab .btn button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close {
    background-color: #eee;
}

.cartTab .listCart{
    overflow: auto;
}

.cartTab .listCart .item img{
    width: 40%;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}





.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;   
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}
