@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1324px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    transition: transform .5s;
}

svg {
    width: 30px;
}

header {
    align-items: center;
    justify-content: space-between;
}

header .icon-cart {
    position: relative;
}

header .icon-cart span {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: rgb(249, 248, 108);
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 50px;
    position: absolute;
    top:50%;
    right: -7px;
}


.nav-link {
    color: black;
    font-weight: 400px;
    font-size: 15px;
}



.header-actions-search {
    position: relative;
    width: 100%;
}

.header-actions-search form {
    display: flex;
    margin: 0; /* Ensure no extra margin is added */
}

.header-actions-search .form-control {
    width: 100%; /* Make sure the input takes up the full width */
}

.header-actions-search .btn {
    margin-left: 10px; /* Space between input and button */
}



.topbar-promotion {
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(79, 77, 77);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    justify-content: center;
    height: 32px;
    padding-right: 64px;
    padding-left: 64px;
    position: relative;
}


.container-fluid {
    padding: 0px;
}

li.nav-item {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

ul.navbar-nav li.nav-item:hover {
    background-color: rgb(255, 68, 5);
}






.homepage-button {
    width: 1324px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
}   










.listProduct .item img {
    width: 90%;
    height: 73%;
    filter: drop-shadow(0 5px 10px #555555);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.listProduct .item {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.listProduct .item .card-img-top {
    border-radius: 10px;
}

.listProduct .item .price {
    /* letter-spacing: 1px; */
    font-size: 20px;
    font-weight: 400;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}









.cartTab {
    width: 455px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 -455px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px ;
    transition: .5s;
    z-index: 10;
}

body.showCart .cartTab{
    inset: 0 0 0 auto;   
    z-index: 10;
}

body.showCart .container {
    transform: translateX(-225px);
    max-width: 75%;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cartTab .btn button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close {
    background-color: #eee;
}

.cartTab .listCart{
    overflow: auto;
}

.cartTab .listCart .item img{
    width: 40%;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}





.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;   
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

.img-default-size {
    width: 230px;
    height: 350px;
    object-fit: cover;
}





#btn-banner {
    width: 40%;
    padding: 10px 10px;
    background-color: #2f5acf;
    text-align: center;
    border-radius: 25px;
}





div.wordInBanner {
    position: absolute;
}

div.wordInBanner h1 {
    letter-spacing: 2px;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

div.wordInBanner p {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    
}

.action-button {
    border-radius: 30px;
    width: 200px;
    padding: 5px 8px;
    font-size: 18px;
} 


.homepage-brands .brand img {
    width: 100%;
}

.homepage-brands .brands img {
    width: 100%;
}



.brands-title {
    width: 400px;
    padding-left: 40px;
}

.brands-title p {
    color: #ebebeb;
    text-transform: uppercase;
}
.brands-title h1 {
    color: white;
    font-weight: 700;
    font-size: 70px;   
    text-transform: uppercase;
}

.brands-title {
    position: absolute;
    margin-left: 20px;
}

.btn-brand {
    border-radius: 30px;
    background-color: #ebebeb;
    color: black;
    padding: 10px 25px;
    font-size: 18px;
    margin-top: 20px;
    border-color: #ebebeb   ;
}






.btn-footer {
    width: 200px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 12px 12px;
    color: white;
    font-size: 14px;
    background-color: #2f5acf;
}









.list-menu{
    padding-left: 0px;
    list-style: none;
}

.list-menu li.li-menu a {
    color: #999999;
    text-decoration: none;
    font-size: 12px;
}

.list-menu li.li-menu a:hover {
    color: #E8BC0E;
}
.end-footer p {
    font-size: 12px;
}





#cart-notification {
    display: none;
    top: 20px;
    right: 20px;
    z-index: 1050;
    background: white;
    border: 0.5px solid grey;
    width: 300px;
    font-size: 14px;
    border-radius: 10px;
}

.btn__cart-notification {
    border: 1.5px solid black;
    width: 100%;
}

.btn__cart-notification a {
    color: black;
    font-size: 15px;
}

span#cart-notification-message {
    display: block;
}

.dropdown-item.text-white.text-uppercase {
    color: black !important; /* Đổi màu chữ thành màu đen */
}

.dropdown-item.text-white.text-uppercase:hover {
    color: black !important; /* Đổi màu chữ thành màu đen khi hover */
}

.dropdown-menu .dropdown-item {
    color: black !important; /* Đổi màu chữ thành màu đen */
}

.dropdown-menu .dropdown-item:hover {
    color: black !important; /* Đổi màu chữ thành màu đen khi hover */
}


@media screen and (max-width:990px) {
    .listProduct {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:990px) {
    .wordInBanner {
        position: absolute;
        margin-top: -50px;
    }   
}



